---
layout: default
title: Документация
---

<div>

  <h2>Документация</h2>

  <h4>Итоги общих собраний пользователей:</h4>

  <ul>
    {% for result in site.data.meeting_results %}

    <li><a href="/assets/docs/meeting/results/{{ result.date }}.{{ result.format }}">{{ result.title}}</a></li>

    {% endfor %}

  </ul>

  <h4>Протоколы собраний правления ТСН:</h4>

  <ul>
    {% for protocol in site.data.protocols %}

    <li><a href="/assets/docs/board/protocols/{{ protocol.date }}.{{ protocol.format }}">{{ protocol.title}}</a></li>

    {% endfor %}

  </ul>
  
</div>
